<h1>Register For an API Key</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.accounts_user_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.accounts_user_path(@conn, :index) %></span>
