/.elixir_ls/

# The directory Mix will write compiled artifacts to.
/src/_build/

# If you run "mix test --cover", coverage assets end up here.
src/cover/

# The directory Mix downloads your dependencies sources to.
src/deps/

# Ignore .fetch files in case you like to edit your project deps locally.
src/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
src/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
src/*.ez

# Ignore package tarball (built via "mix hex.build").
src/pyr_ex-*.tar

src/pyr_ex_umbrella-*.tar